@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
}

.container  {
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
